# 기본적으로 모든 파일 무시
*

# 추적할 파일/폴더 예외 처리
!.gitignore
!README.md

# 소스코드 파일 추적
!*.c
!*.cpp
!*.py

# 백준 폴더 전체 추적
!백준/
!백준/**
!백준/Bronze/
!백준/Bronze/**
!백준/Silver/
!백준/Silver/**
!백준/Gold/
!백준/Gold/**

# Beakjoon 관련
!beakjoon/
!beakjoon/tier/
!beakjoon/tier/bronze/
!beakjoon/tier/silver/
!beakjoon/tier/Gold/

# 특정 문제 파일
# 브론즈
!beakjoon/tier/bronze/14626. ISBN
!beakjoon/tier/bronze/10922. 팰린드롬인지 확인하기
!beakjoon/tier/bronze/10798. 세로읽기
!beakjoon/tier/bronze/30802. 웰컴 키트
!beakjoon/tier/bronze/2581. 소수
!beakjoon/tier/bronze/2609. 최대공약수와 최소공배수
!beakjoon/tier/bronze/11653. 소인수분해
!beakjoon/tier/bronze/1085. 직사각형 탈출
!beakjoon/tier/bronze/3052. 나머지
!beakjoon/tier/bronze/9086. 문자열
!beakjoon/tier/bronze/19532. 수학은 비대면 강의입니다.
!beakjoon/tier/bronze/1100. 하얀칸
!beakjoon/tier/bronze/1110. 더하기 사이클
!beakjoon/tier/bronze/1145. 적어도 대부분의 배수
!beakjoon/tier/bronze/1236. 성 지키기
!beakjoon/tier/bronze/1259. 팰린드롬수
!beakjoon/tier/bronze/1264. 모음의 개수
!beakjoon/tier/bronze/1712. 손익분기점
!beakjoon/tier/bronze/1934. 최소공배수
!beakjoon/tier/bronze/1333. 부재중 전화
!beakjoon/tier/bronze/1978. 소수 찾기
!beakjoon/tier/bronze/2231. 분해합
!beakjoon/tier/bronze/2292. 벌집
!beakjoon/tier/bronze/2309. 일곱 난쟁이

#실버
!beakjoon/tier/silver/24090. 알고리즘 수업 - 퀵 정렬 1
!beakjoon/tier/silver/1436. 영화감독 숌
!beakjoon/tier/silver/7568. 덩치
!beakjoon/tier/silver/25206. 너의 평점은

# 알고리즘 관련
!Algorithm/
!Algorithm/Sorting_Algorithm/